<!DOCTYPE html>
<html lang="ja">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>こんにちは</title>

    {#ブラウザの初期化#}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css" rel="stylesheet">
    {# フォントオーサム 後で消すかも#}

    <link href="{% static 'foundation/css/foundation.min.css' %}" rel="stylesheet">
    <link href="{% static 'foundation/foundation-icons/foundation-icons.css' %}" rel="stylesheet">
    <link href="{% static 'font_size.css' %}" rel="stylesheet">

</head>
<body>


{% block body %}


{% endblock %}

<script src="{% static 'foundation/js/vendor/jquery.js' %}"></script>
<script src="{% static 'foundation/js/vendor/foundation.min.js' %}"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>