{% extends 'menu_base.html' %}
{% load staticfiles %}

{% block body %}
    <link href="{% static "custom.css" %}" rel="stylesheet">
    <script type="text/javascript" src="{% static "custom.js" %}"></script>

    <div class="ui fluid container">
        <div class="ui grid">

            <div class="ten wide column">
                <h1 style="padding-top: 100px">Theming Examples</h1>
                <h2 class="ui dividing header">Files</h2>
                {#                <form method="POST" enctype="multipart/form-data">#}
                {% csrf_token %}
                {#                    {{ form.title }}#}
                {#                    {{ form }}#}
                {#                    <input type="submit" hidden>#}
                {#                </form>#}
                <div>

                    <div id="DropFrame" style="height: 100%;background-color: #bb786a">
                        <div id="file_text" class="ui five column doubling stackable grid container">
                            {% for i in view_file %}
                                <div class="column">
                                    <img class="ui small centered image"
                                         src="{% static "icons/svg/txt.svg" %}">
                                    <p>{{ i.time_stamp }}</p>
                                    <p>{{ i.ori_file_name }}</p>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                    <div id="output"></div>
                </div>
            </div>

            <div class="six wide column">

            </div>

        </div>
    </div>



    <script>

        $(function () {

            if (window.File && window.FileReader && window.FileList && window.Blob) {
                PageLoad();
            } else {
                alert('The File APIs are not fully supported in this browser.');
            }
        });

        function handleFileSelect(evt) {
            evt.stopPropagation();
            evt.preventDefault();

            var files = evt.dataTransfer.files;
            var output = [];

            for (var i = 0; i < files.length; i++) {
                console.log(files[i]);
                FileUpload(files[i], "{% url "prism:drive_file_upload" %}");
            }
        }

        function handleDragOver(evt) {
            evt.stopPropagation();
            evt.preventDefault();
            evt.dataTransfer.dropEffect = 'copy';
        }

        function PageLoad(evt) {
            var dropFrame = document.getElementById('DropFrame');
            dropFrame.addEventListener('dragover', handleDragOver, false);
            dropFrame.addEventListener('drop', handleFileSelect, false);
        }


        function FileUpload(file, url) {
            var formData = new FormData();

            formData.append('file', file);
            formData.append('csrfmiddlewaretoken', getCSRF());
            //console.log(formData);
            $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    dataType: 'json',
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        var ori_file_name = data.slice(-1)[0].ori_file_name;
                        var time_stamp = data.slice(-1)[0].time_stamp;
                        {#var file_name = "{% static 'icons/svg/txt.svg' %}";#}
                        var html = '<div class="column"><img class="ui small centered image" src="{% static 'icons/svg/txt.svg' %}"><p>' + time_stamp + '</p><p>' + ori_file_name + '</p></div>';
                        $('#file_text').append(html);
                        //for (var i = 0; i < data.length; i++) {
                        //   console.log(data[i].ori_file_name);
                        //   $('#file_text').append('<li>追加されました</li>');
                        // }


                    }
                }
            );
        }

    </script>
{% endblock %}