{% extends 'menu_base.html' %}
{% load staticfiles %}

{% block body %}
    <link href="{% static "custom.css" %}" rel="stylesheet">
    <script type="text/javascript" src="{% static "custom.js" %}"></script>

    <div class="ui fluid container">
        <div class="ui grid">
            <div class="sixteen wide column" style="background-color: #bb786a;">
                <h1>Theming Examples</h1>
                <h2 class="ui dividing header">Files</h2>
                {#                <form method="POST" enctype="multipart/form-data">#}
                {% csrf_token %}
                {#                    {{ form.title }}#}
                {#                    {{ form }}#}
                {#                    <input type="submit" hidden>#}
                {#                </form>#}
                <div id="DropFrame" style="overflow:auto;">
                    <div id="file_text" class="ui five column doubling stackable grid container">
                        {#                            {% for i in view_file %}#}
                        {#                                <div class="column">#}
                        {#                                    <img class="ui small centered image"#}
                        {#                                         src="{% static "icons/svg/txt.svg" %}">#}
                        {#                                    <p>{{ i.time_stamp }}</p>#}
                        {#                                    <p>{{ i.ori_file_name }}</p>#}
                        {#                                </div>#}
                        {#                            {% endfor %}#}
                    </div>

                </div>
                <div id="output"></div>
            </div>

            <div class="six wide column">

            </div>

        </div>
    </div>



    <script>

        $(function () {
            FileGet("{% url 'prismapp:drive_file_get' %}");
            if (window.File && window.FileReader && window.FileList && window.Blob) {
                PageLoad();
            } else {
                alert('The File APIs are not fully supported in this browser.');
            }
        });

        function handleFileSelect(evt) {
            evt.stopPropagation();
            evt.preventDefault();

            var files = evt.dataTransfer.files;
            var output = [];
            FileUpload(files, "{% url "prism:drive_file_upload" %}");
        }

        function handleDragOver(evt) {
            evt.stopPropagation();
            evt.preventDefault();
            evt.dataTransfer.dropEffect = 'copy';
        }

        function PageLoad(evt) {
            var dropFrame = document.getElementById('DropFrame');
            dropFrame.addEventListener('dragover', handleDragOver, false);
            dropFrame.addEventListener('drop', handleFileSelect, false);
        }

        function extension_to_file(extension) {
            //拡張子からファイル名を命名する
            var icon;
            switch (extension) {
                case ".iso":
                    icon = "iso.svg";
                    break;
                case ".png":
                    icon = "png.svg";
                    break;
                case ".jpg":
                    icon = "jpg.svg";
                    break;
                case ".txt":
                    icon = "txt.svg";
                    break;
                case ".json":
                    icon = "json-file.svg";
                    break;
                case ".html":
                    icon = "html.svg";
                    break;
                case ".xml":
                    icon = "xml.svg";
                    break;

                case ".mp3":
                    icon = "m03.svg";
                    break;
                default:
                    icon = "file.svg";
                    break
            }
            return icon;
        }

        function FileUpload(file, url) {
            var formData = new FormData();

            for (var i = 0; i < file.length; i++) {
                formData.append('files[]', file[i]);
            }
            formData.append('csrfmiddlewaretoken', getCSRF());//トークンを取得
            $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    dataType: 'json',
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        var list = data.slice(-file.length);
                        for (i = 0; i < file.length; i++) {
                            console.log(list[i]);
                            var ori_file_name = list[i].ori_file_name;
                            var time_stamp = list[i].time_stamp;
                            var extension = list[i].extension;
                            var media_file = "{% static 'icons/svg/' %}";
                            var icon_file = media_file + "/" + extension_to_file(extension);
                            var html = '<div class="column"><img class="ui small centered image" src="' + icon_file + '"><p>' + time_stamp + '</p><p>' + ori_file_name + '</p></div>';
                            $('#file_text').append(html);
                        }

                        //for (var i = 0; i < data.length; i++) {
                        //   console.log(data[i].ori_file_name);
                        //   $('#file_text').append('<li>追加されました</li>');
                        // }

                    }
                }
            );
        }

        function FileGet(url) {
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var ori_file_name = data.slice(i)[0].ori_file_name;
                        var time_stamp = data.slice(i)[0].time_stamp;
                        var extension = data.slice(i)[0].extension;
                        var media_file = "{% static 'icons/svg/' %}";
                        var icon_file = media_file + "/" + extension_to_file(extension);
                        var html = '<div class="column"><img class="ui small centered image" src="' + icon_file + '"><p>' + time_stamp + '</p><p>' + ori_file_name + '</p></div>';
                        $('#file_text').append(html);
                    }
                }
            });
        }

    </script>
{% endblock %}